<div id="main">
    <%= image_tag('main-img-244cfdfcea7f677982ca022500ce7804001235610f43ebb20212e4124b5cb4ac.jpg') %>
</div>

<div id="article_wrap">

    <div id="article_list">
        
        <% if @posts %>
        <% @posts.each do |post| %>
            <div>
                <h2><%=link_to post.title, post %></h2>
                <p><%= post.created_at %></p>
                <% if user_signed_in? %>
                <p>
                    <%=link_to "編集", edit_post_path(post) %>
                    <%=link_to "削除", post, method: :delete, rel: "nofollow" %>
                </p>
                <% end %>
            </div>
        <% end %>
        <% end %>
            
    </div>

    <div id="sidebar">
        <h2>★PV数ランキング</h2>
            <ul>
                <li></li>
            
            </ul>
    </div>
    
    <div class="clear"></div>
    
</div>